
<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %></p>
<% end %>
<title>LOGIN</title>

<%= form_tag do %>
<fieldset>
<legend>Please Log In</legend>
<div>
<%= label_tag :name, 'Name:' %>
<%= text_field_tag :name, params[:name] %>

<%= label_tag :password, 'Password:' %>
<%= password_field_tag :password, params[:password] %>
</div>
<div>
<%= submit_tag "Login" , :method => :get ,:class=> 'button1' , :id=> 'button1' %>
&nbsp;&nbsp;&nbsp;&nbsp;

<%= link_to 'New User? Register here!!', new_user_path %>
</div>
</fieldset>

<div class= "mytext">

	<vai><b><center>
	Welcome!!!
	 </b></vai> 
	</br>

	 <vai2>  <b>
	  We bridge Organizations with Candidates..
      </center></vai2> 
      </br>
  </br>

      <vai2><center><b>WHY TO USE E-RECRUITMENT ?</b></br></center></br>
      	
      	<div class="boxed"><vai2>

      	&nbsp;&nbsp;&nbsp;<%= image_tag "fast.jpg" %> &nbsp;&nbsp;&nbsp;&nbsp;  ERecruitment Provide faster results !!
       </vai2></div> </br>
        
        <div class="boxed"><vai2> &nbsp;&nbsp;
         <%= image_tag "images.jpg" %> &nbsp;&nbsp;&nbsp;&nbsp; Lowering the Recruitment Costs !! 
        </vai2></div> </br>
        <div class="boxed"><vai2>
         &nbsp;&nbsp;&nbsp;<%= image_tag "time.jpg" %> &nbsp;&nbsp;&nbsp;&nbsp; Saves Precious Time Of candidate & Organization !! </vai2></div></br>
         <div class="boxed"><vai2>
         	&nbsp;&nbsp;&nbsp;<%= image_tag "manpower.jpg" %> &nbsp;&nbsp;&nbsp;&nbsp; Lowers Manpower required for handling Recruitment process !! </vai2></div></br>
         <div class="boxed"><vai2>
         	&nbsp;&nbsp;&nbsp;<%= image_tag "interview.jpg" %> &nbsp;&nbsp;&nbsp;&nbsp; Online Automated Interview Process !!</vai2></div></br>
           </br>
          <center>HURRY UP!! REGISTER YOURSELF TO USE THESE EXCITING FEATURES ...</center>
      </br>
      </vai2>  


	 </b>   
</div>
<% end %>
