<h1>Listing interviews</h1>
<title>Interview</title>
<table>
  <thead>
    <tr>
      <th>Set by</th>
      <th>Number of questions</th>
      <th>Duration</th>
      <th>Cutoff</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <td><%= interview.set_by %></td>
        <td><%= interview.number_of_questions %></td>
        <td><%= interview.duration %></td>
        <td><%= interview.cutoff %></td>
        <td><%= link_to 'Show', interview %></td>
        <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
        <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interview', new_interview_path %>
