<p id="notice"><%= notice %></p>
<title>Clips</title>
<p>
  <strong>User:</strong>
  <%= @clip.user_id %>
</p>

<p>
  <strong>Interview:</strong>
  <%= @clip.interview_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @clip.question_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @clip.url %>
</p>

<%= button_to 'Edit', edit_clip_path(@clip) , method: :get, :class => 'button' , :id => 'button' %> |
<%= button_to 'Back', clips_path ,  method: :get, :class => 'button' , :id => 'button' %>
