<h1>Interview Questions</h1>
<title>Interview</title>
<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Created by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @interview_questions.each do |interview_question| %>
      <tr>
        <td><%= interview_question.question %></td>
        <td><%= interview_question.created_by %></td>
        <td><%= button_to 'Show', interview_question , method: :get, :class => 'button', :id => 'button' %></td>
        <td><%= button_to 'Edit', edit_interview_question_path(interview_question), method: :get, :class => 'button', :id => 'button'  %></td>
        <td><%= button_to 'Destroy', interview_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New question', new_interview_question_path, :class => 'mylink', :id => 'mylink' %>
