<%= form_for(@final_decision) do |f| %>
  <% if @final_decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@final_decision.errors.count, "error") %> prohibited this final_decision from being saved:</h2>

      <ul>
      <% @final_decision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Questions list</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>URL</th>

    </tr>
  </thead>

  <tbody>
    <% session[:interview_id]=params[:interview_id] %>
   
    <% sql="select q.question, q.id from interview_questions q join clips c where q.id=c.question_id AND c.interview_id='"+params[:interview_id]+"'" %>
         <% @question=InterviewQuestion.find_by_sql(sql) %>
          <% @question.each do |question| %>
      <% if question.question.length !=0  %>
      <tr>
        <td>
      <%= question.question %>
    </td>
    <td> 
      <% sql="select url from clips where question_id="+question.id.to_s+" AND interview_id="+params[:interview_id]+" AND user_id="+params[:candidate_id] %>
      <% url=Clip.find_by_sql(sql).first.url.to_s %>
      
      <html>
<body>

    <a href=<%= url %> >View interview clip </a>
      <%#= link_to 'View interview clip', clip.url %>
    </body>
    </html>
    </td>
      </tr>
    <% end %>
    <% end %>
    
  </tbody>
  
</table>

<div class="field">
<%= radio_button_tag(:decision, "accept") %>
    <%= label_tag(:decision_label, "accept") %>
</div>
<div class="field">
<%= radio_button_tag(:decision, "reject") %>
    <%= label_tag(:decision_label, "reject") %>
</div>
  

    <div class="actions">
    <%= f.submit "Submit final dicision" , :class => 'button', :id => 'button' %>
  </div>
<% end %>
