<html>
<body>
<h1>Final Decisions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Interview</th>
      <th>Decision</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @final_decisions.each do |final_decision| %>
      <tr>
        <td><%= final_decision.user_id %></td>
        <td><%= final_decision.interview_id %></td>
        <td><%= final_decision.decision %></td>
        <td><%= button_to 'Show', final_decision, method: :get %></td>
        <td><%= button_to 'Edit', edit_final_decision_path(final_decision) , method: :get %></td>
        <td><%= button_to 'Destroy', final_decision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New decision', new_final_decision_path, :method => 'mylink', :id => 'mylink'  %>
</body>
</html>