<!DOCTYPE html>

<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "record" %>
  
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	
	<div id="banner"> 
	<%= image_tag("job.jpg", :alt => "rss feed") %>
	<%= @page_title || "ERECRUITMENT" %> 
	</div> 
		<div id="columns"> 
			<div id="side"> 
			<ul> <h2><b>
				<li> 
				<% sql= "select role from users where id='"+session[:user_id].to_s+"'" %>
				<% role= User.find_by_sql(sql).first.role.to_s %>
				<% if role=="Candidate" %>
				<a href= "http://localhost:3000/Candidates/index" >Home</a>
			<% else %> 
                 <a href= "http://localhost:3000/organization/index" >Home</a>
                 <% end %>
				</li> </br>
				<li><a href="http://localhost:3000/admin/aboutus">About Us</a></li></br>
				<li> <%= link_to 'Logout', logout_path, :method =>"delete" %></li> </br>
				
			</b></h2>
			</ul> 
	    	</div> 
	    	<div id="main"> 
	    	<%= yield %> 
	    	</div> 
	    	
	    </div> 
	
</body>
</html>